/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2017, 1:36:31 PM
    Author     : AhmedEldeeb
*/

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading{
    cursor: pointer;
}

.vertical-center {
  min-height: 100px;  /* Fallback for browsers do NOT support vh unit */
  min-height: 1vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.panel-body{
    font-size: large!important;
}

.navbar-header{
    min-height: 90px!important;
}

#stuInfoTbl th{
    text-align: center!important;
}

.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}
.right-tabs .nav li { float: left }
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
}
.pagebackground{
    background-color: lightgray!important;
  
   
}
.contentBackground
{
    background-color: white!important;
    
    // height: -webkit-fill-available!important;
}

   
        